<div class="container-fluid" style="background-color:#d0d0d0">
  <h3>Wirtschaftseinheit</h3>

  <form class="form-horizontal">
    <fieldset>
      <p>{{we.liegenschaftNr}} {{we.bezeichnung}}</p>
      <p>{{we.bundesland}} </p>
      <p>{{we.regbez}} </p>
      <p>{{we.plz}} {{we.ort}} </p>
      <p>Fläche [ha]: {{we.flaeche}} </p>

        <p>
          FfE:<br>{{we.ffe}}<br>{{we.ffeAdresse}}
        </p>
        <p>
          BdE:<br>{{we.bde}}<br>{{we.bdeAdresse}}
        </p>
      
      <div style="background-color:#50a050; margin:5px; ">
        <p ><strong>
          Bundeswehr
          </strong>
        </p>
        <p>
          WE: {{we.weNrBw}} {{we.bezeichnungBw}}
        </p>
        <p>
          Kompetenzzentrum {{we.kompz}}
        </p>
        <p>
          BwDLZ:{{we.bwdlz}}
        </p>
        <p>
          HBT: {{we.hbt}}
        </p>
        
      </div>
     <div style="background-color:#9090f0; margin:5px; ">
        <p ><strong>
          BImA
          </strong>
        </p>
        <p>
          WE: {{we.weNrBima}} {{we.bezeichnungBima}}
        </p>
      </div>
    </fieldset>
  </form>
</div>