
  <div  class="container-fluid" style="background-color:#d0d0d0">
   
   <form class="form-horizontal">
    <fieldset>
     <!--h3>{{we.liegenschaftNr}} {{we.bezeichnung}}</h3-->
      <strong>ADMIN-Daten der Wirtschaftseinheit</strong>
      <p>{{we.bundesland}}<br>
      <span *ngIf="we.regbez">{{we.regbez}}<br></span>
      {{we.plz}} {{we.ort}}<br>
      Fläche [ha]: {{we.flaeche}} </p>

        <p>
          <strong>Fachaufsichtführende Ebene:</strong><br>{{we.ffe}}<br>{{we.ffeAdresse}}
        </p>
        <p>
          <strong>Baudurchführende Ebene:</strong><br>{{we.bde}}<br>{{we.bdeAdresse}}
        </p>
      
      <div style="background-color:#50a050; margin:5px; ">
        <p ><strong>
          Bundeswehr (SASPF)
          </strong>
        </p>
        <p>
          WE: {{we.weNrBw}} {{we.bezeichnungBw}}
        </p>
        <p>
          Kompetenzzentrum {{we.kompz}}
        </p>
        <p>
          BwDLZ:{{we.bwdlz}}
        </p>
        <p>
          HBT: {{we.hbt}}
        </p>
        
      </div>
     <div style="background-color:#9090f0; margin:5px; ">
        <p ><strong>
          BImA (BALIMA)
          </strong>
        </p>
        <p>
          WE: {{we.weNrBima}} {{we.bezeichnungBima}}
        </p>
      </div>
    </fieldset>
  </form>
</div>