<!-- BING example select id="layer-select">
       <option value="Aerial">Aerial</option>
       <option value="AerialWithLabels" selected>Aerial with labels</option>
       <option value="Road">Road</option>
       <option value="collinsBart">Collins Bart</option>
       <option value="ordnanceSurvey">Ordnance Survey</option>
     </select-->
<h3 align="center">
      <a routerLink="/inka-we">
         {{title}}
        </a>
</h3>

<div id="map" name="map" class="map" style="width: 100%; height: 700px;"></div>
<div>
      <button type="button" class="button btn-primary" id="bingVisible"  name="bingVisible" (click)="toggleBing()">
             <i *ngIf="karte" class="glyphicon glyphicon-check"></i>
             <i *ngIf="!karte" class="glyphicon glyphicon-unchecked"></i>
             
      </button>
      Karte
</div>