<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Wollen Sie wirklich löschen?</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-danger " data-dismiss="modal" title="Löschen" (click)="delete(projekt)"> Löschen </button>
        <button class="btn btn-info " data-dismiss="modal" title="a"> Abbrechen </button>
      </div>
    </div>
  </div>
</div>

<h3 align="center">
  <a routerLink="/inka-we">
         {{title}}
        </a>
</h3>
<div class="row ">
  <div *ngIf="!collapse" class="col-sm-4">
    <button class="btn btn-info align-baseline pull-right" type="button" (click)="toggleCollapse()"> <i class="glyphicon glyphicon-menu-left"></i></button>
    <app-inka2-admin>
    </app-inka2-admin>
  </div>
  <button *ngIf="collapse" class="btn btn-info align-baseline pull-left break" type="button" (click)="toggleCollapse()"> <i class="glyphicon glyphicon-tags"></i></button><br>
  <div [ngClass]="colSize()">
    <div>
      <div class="row">
        <div class="enlarge col-sm-5 " data-toggle="tooltip" title="" align="right" style="color:#bb0000"> {{message.fehler}} </div>
        <div class="enlarge col-sm-4 " data-toggle="tooltip" title="" align="right" style="color:#000000"> {{message.ok}} </div>
        <div class="col-sm-1"><button class="btn btn-primary " data-toggle="tooltip" title="rückgängig" (click)="read()" align="right"> <i class="glyphicon glyphicon-refresh"> </i></button></div>
        <div class="col-sm-1">
          <button class="btn btn-primary " data-toggle="tooltip" title="speichern" (click)="update(projekt)" align="right"
            [disabled]="!f.form.valid && !(isLand() || isFFE())"> <i class="glyphicon glyphicon-ok">  </i></button>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-primary " data-toggle="tooltip" title="löschen" [disabled]="!isLand()" data-toggle="modal"
            data-target="#myModal" align="right"> <i class="glyphicon glyphicon-remove"> </i></button>
        </div>
      </div>
      <h3 style="text-align:center">LAK für kleine Liegenschaften</h3>
      <form class="form form-horizontal" name="f" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <fieldset>
          <div class="row">
            <label for="projektNr" class="control-label col-sm-4">Projekt-Nr. *</label>
            <div class="col-sm-4">
              <input type="text" class="form-control  text-left" id="projektNr" [disabled]="!isLand()" [(ngModel)]="projekt.projektNr"
                name="projektNr" required>
            </div>
            <div *ngIf="f?.controls?.projektNr?.hasError('')">
              Dieses Feld ist ein Pflichtfeld.
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Projektname</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" [disabled]="!isLand()" [(ngModel)]="projekt.projektName"
                name="projektName">
            </div>
          </div>
          <!-- ------------------------------------------ Sekundäre Liegenschaften ---------------------------------------------------- -->
          <div class="row">
            <label for="liegenschaften" class="control-label col-sm-4">Liegenschaften</label>
            <div class="col-sm-8">
              <table *ngIf="projekt.liegenschaften!=null && projekt.liegenschaften.length>0" class="table table-striped table-hover">
                <thead>
                  <th align="center">
                    Primär
                  </th>
                  <th align="center">
                    Bw-We
                  </th>
                  <th align="center">
                    BImA-We
                  </th>
                  <th align="center">
                    Bezeichnung
                  </th>
                  <th></th>
                </thead>
                <tbody>

                  <tr *ngFor="let k of projekt.liegenschaften ; let in = index">
                    <td><input type="radio" id="vi" name="rang" [(ngModel)]="primaer" [disabled]="!isLand()" [value]="k.liegenschaftid"></td>
                    <td>{{k.sdmwenr}}</td>
                    <td>{{k.bimawenr}}</td>
                    <td>{{k.bezeichnung}}</td>
                    <!--td>
                      <input type="number" class="form-control" [disabled]="!isLand()" [(ngModel)]="k.kosten" name="kosten-{{in}}">
                    </td-->
                    <td>
                      <button class="btn btn-primary" data-toggle="tooltip" title="löschen" (click)="deleteLiegenschaft(k)" [disabled]="checkPrimaer(k) || !isLand()"> <i class="glyphicon glyphicon-minus"> </i></button>
                    </td>
                  </tr>
                  <tr>

                    <td colspan="4">
                      <input list="liegListe" class="form-control" id="neueLiegenschaft" [disabled]="!isLand()" name="neueLiegenschaft" [(ngModel)]="neueLiegenschaft"
                        (click)="fehler(null)">
                        <datalist id="liegListe">
                          <option *ngFor="let i of lieg" [value]="i.title" [label]="i.title"></option>
                          <!--option *ngFor="let i of liegBez" [value]="i">{{i}}</option-->

                        </datalist>
                    </td>
                    <td> <button class="btn btn-primary" data-toggle="tooltip" title="neu" (click)="addLiegenschaft()"> <i class="glyphicon glyphicon-plus"> </i></button></td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
          <!-- ---------------------------------------------------------------------------------------------- -->
          <div class="row">
            <label for="auftraggeber" class="control-label col-sm-4">Auftraggeber *</label>
            <div class="col-sm-8">
              <!--input type="text" class="form-control  text-left" id="projektName"  [(ngModel)]="projekt.auftraggeber" name="auftraggeber"-->
              <select class="input-large form-control" id="auftraggeber" [disabled]="!isLand()" [(ngModel)]="projekt.auftraggeber" name="auftraggeber"
                required>
                <option value="KompZ BauMgmt Düsseldorf">KompZ BauMgmt Düsseldorf</option>
                <option value="KompZ BauMgmt Hannover">KompZ BauMgmt Hannover</option>
                <option value="KompZ BauMgmt Kiel">KompZ BauMgmt Kiel</option>
                <option value="KompZ BauMgmt München">KompZ BauMgmt München</option>
                <option value="KompZ BauMgmt Strausberg">KompZ BauMgmt Strausberg</option>
                <option value="KompZ BauMgmt Stuttgart">KompZ BauMgmt Stuttgart</option>
                <option value="WBV Nord">WBV Nord</option>
                <option value="WBV Ost">WBV Ost</option>
                <option value="WBV Süd">WBV Süd</option>
                <option value="WBV West">WBV West</option>
                </select>
            </div>
          </div>
          <div class="row">
            <label for="durchfStelle" class="control-label col-sm-4">Durchf. Stelle</label>
            <div class="col-sm-8">
              <input list="stellenListe" class="form-control" id="durchfStelle" [disabled]="!isLand()" [(ngModel)]="projekt.durchfStelle"
                name="durchfStelle">
                <datalist id="stellenListe">
                  <option *ngFor="let i of projekt.durchfStellen" [value]="i">{{i}}</option>
                </datalist>
            </div>
          </div>
          <div class="row">
            <label for="bemerkung" class="control-label col-sm-4">Kommentar durchführende Stelle</label>
            <div class="col-sm-8">
              <textarea cols="50" rows="3" class="form-control  text-left" id="bemerkung" [disabled]="!isLand()" [(ngModel)]="projekt.bemerkung"
                name="bemerkung"></textarea>
            </div>
          </div>
          <div class="row">
            <label for="projektLeiter" class="control-label col-sm-4">Sachbearb. BdE (Fz)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektLeiter" [disabled]="!isLand()" [(ngModel)]="projekt.projektLeiter"
                name="projektLeiter">
            </div>
          </div>
          <div class="row">
            <label for="beginn" class="control-label col-sm-4">Beauftragung</label>
            <div class="col-sm-4">
              <input type="date" class="form-control  text-left" id="beginn" [disabled]="!isLand()" [(ngModel)]="projekt.beginn" name="beginn"
                data-toggle="tooltip" title="Datum">
            </div>
          </div>
          <div class="row">
            <label for="ende" class="control-label col-sm-4">Fertigstellung</label>
            <div class="col-sm-4">
              <input type="date" class="form-control  text-left" id="ende" [disabled]="!isLand()" [(ngModel)]="projekt.ende" name="ende"
                data-toggle="tooltip" title="Datum">
            </div>
          </div>
          <div class="row">
            <label for="status" class="control-label col-sm-4">Status *</label>

            <div class="col-sm-8">
              <!--input type="text" class="form-control" id="wsz" size=6  [(ngModel)]="abw.wsz" name="wsz"-->
              <select class="input-large form-control" id="status" [disabled]="!isLand()" [(ngModel)]="projekt.status" name="status" required>
              <option value="geplant" >geplant</option>
              <option  value="FfE beauftragt">FfE beauftragt</option>
              <option  value="BdE beauftragt">BdE beauftragt</option>
              <option  value="fertiggestellt">fertiggestellt</option>
              <option value="Altdaten">Altdaten</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label for="extAuftragnehmer" class="control-label col-sm-4">Ing.-Büro</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="extAuftragnehmer" [disabled]="!isLand()" [(ngModel)]="projekt.extAuftragnehmer"
                name="extAuftragnehmer">
            </div>
          </div>
          <div style="background-color:#e0f0e0">
            <div class="row">
              <label class="control-label col-sm-4">Sofortmaßnahmen</label>
            </div>
            <div class="row">
              <label for="statusZkl5" class="control-label col-sm-4">Status </label>
              <div class="col-sm-8">
                <!--input type="text" class="form-control" id="wsz" size=6  [(ngModel)]="abw.wsz" name="wsz"-->
                <select class="input-large form-control" id="statusZkl5" [disabled]="!isLand()" [(ngModel)]="projekt.statusZkl5" name="statusZkl5">
              <option  value="kein Bedarf">kein Bedarf</option>
              <option  value="zu veranlassen">zu veranlassen</option>
              <option  value="veranlasst">veranlasst</option>
              <option value="in Bearbeitung">in Bearbeitung </option>
              <option value="abgeschlossen">abgeschlossen</option>
              <option value="unbekannt">unbekannt</option>
              </select>
              </div>
            </div>
            <div class="row">
              <label for="sachstandZkl5" class="control-label col-sm-4">Sachstand</label>

              <div class="col-sm-8">
                <textarea cols="50" rows="3" class="form-control  text-left" id="sachstandZkl5" [disabled]="!isLand()" [(ngModel)]="projekt.sachstandZkl5"
                  name="sachstandZkl5"></textarea>
              </div>
            </div>
            <div class="row">
              <label for="kommentarFfe" class="control-label col-sm-4">Kommentar FfE</label>
              <div class="col-sm-8">
                <textarea cols="50" rows="3" class="form-control  text-left" id="kommentarFfe" [disabled]="!(isLand() || isFFE())" [(ngModel)]="projekt.kommentarFfe"
                  name="kommentarFfe"></textarea>
              </div>
            </div>
            <div class="row">
              <label for="inspektion" class="control-label col-sm-4">TV Inspektion von</label>
              <div class="col-sm-3">
                <input type="date" class="form-control  text-left" id="inspektionBeginn" [disabled]="!isLand()" [(ngModel)]="projekt.inspektionBeginn"
                  name="inspektionBeginn" data-toggle="tooltip" title="Datum">
              </div>
              <label for="inspektionEnde" class="control-label col-sm-1">bis</label>
              <div class="col-sm-3">
                <input type="date" class="form-control  text-left" id="inspektionEnde" [disabled]="!isLand()" [(ngModel)]="projekt.inspektionEnde"
                  name="inspektionEnde" data-toggle="tooltip" title="Datum">
              </div>
            </div>
            <div class="row">
              <label for="inspekteur" class="control-label col-sm-4">Inspektionsfirma</label>
              <div class="col-sm-8">
                <input type="text" class="form-control  text-left" id="inspekteur" [disabled]="!isLand()" [(ngModel)]="projekt.inspekteur"
                  name="inspekteur">
              </div>
            </div>
          </div>

          <div style="background-color:#e0e0f0">
            <div class="row">
              <label class="col-sm-12">Festgelegter Bedarf an Baumaßnahmen</label>
            </div>
            <div class="row">
              <label for="baumassnahmeBeginn" class="control-label col-sm-4">Beginn</label>
              <div class="col-sm-3">
                <input type="date" class="form-control  text-left" id="baumassnahmeBeginn" [disabled]="!isLand()" [(ngModel)]="projekt.baumassnahmeBeginn"
                  name="baumassnahmeBeginn" data-toggle="tooltip" title="Datum">
              </div>
              <label for="baumassnahmeEnde" class="control-label col-sm-1">Ende</label>
              <div class="col-sm-3">
                <input type="date" class="form-control  text-left" id="baumassnahmeEnde" [disabled]="!isLand()" [(ngModel)]="projekt.baumassnahmeEnde"
                  name="baumassnahmeEnde" data-toggle="tooltip" title="Datum">
              </div>
            </div>
            <div class="row">
              <label for="baumassnahmeNr" class="control-label col-sm-4"> Nummer(n)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control  text-left" id="baumassnahmeNr" [disabled]="!isLand()" [(ngModel)]="projekt.baumassnahmeNr"
                  name="baumassnahmeNr">
              </div>
            </div>
            <div class="row">
              <label for="baumassnahmeKosten" class="control-label col-sm-4"> Geschätzte Kosten [€]</label>
              <div class="col-sm-3">
                <input type="number" class="form-control  text-left" id="baumassnahmeKosten" [disabled]="!isLand()" [(ngModel)]="projekt.baumassnahmeKosten"
                  name="baumassnahmeKosten">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <table *ngIf="projekt.kosten!=null && projekt.kosten.length>0" class="table table-striped table-hover" [mfData]="projekt.kosten"
                #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                  <th align="center">
                    Kostenart
                  </th>
                  <th>
                    Kosten (Brutto) [€]
                  </th>
                </thead>
                <tbody>

                  <tr *ngFor="let k of mf.data ; let in = index">
                    <td>{{k.kostenart}}</td>
                    <td>
                      <input type="number" class="form-control" [disabled]="!isLand()" [(ngModel)]="k.kosten" name="kosten-{{in}}" (blur)="summe()">
                    </td>
                  </tr>
                  <tr>
                    <td>Summe:</td>
                    <td>
                      <input type="number" class="form-control" [disabled]="true" [(ngModel)]="summeKosten" name="kosten-summe" (click)="summe()">
                    </td>
                  </tr>
                </tbody>

                </table>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>