<div>
  <div class="row">
    <div class="enlarge col-sm-5 " data-toggle="tooltip" title="" align="right" style="color:#bb0000"> {{message.fehler}} </div>
    <div class="enlarge col-sm-4 " data-toggle="tooltip" title="" align="right" style="color:#000000"> {{message.ok}} </div>
    <div class="col-sm-1"><button class="btn btn-primary btn-block" data-toggle="tooltip" title="rollback" (click)="read()" align="right"> <i class="glyphicon glyphicon-refresh"> </i></button></div>
    <div class="col-sm-1"><button class="btn btn-primary btn-block" data-toggle="tooltip" title="speichern" (click)="update(abw)" align="right"> <i class="glyphicon glyphicon-ok">  </i></button></div>
    <div class="col-sm-1"><button class="btn btn-primary btn-block" data-toggle="tooltip" title="löschen" (click)="delete(abw)" align="right"> <i class="glyphicon glyphicon-remove"> </i></button></div>
  </div>
  <h3 style="text-align:right">Abwasserspezifische Informationen zur WE</h3>
  <form class="form form-horizontal">
    <fieldset>
      <div class="row">
        <label for="awtVorhanden" class="control-label col-sm-8">Entwässerungssys. vorhanden</label>
        <div class="col-sm-4">
          <select class="input-large form-control" id="awtVorhanden" required [(ngModel)]="abw.awtVorhanden" name="awtVorhanden">
              <!--option value="{{abw.awtVorhanden}}">{{abw.awtVorhanden}}</option-->
              <option value="Ja" >Ja</option>
              <option value="geringer Umfang">geringer Umfang</option>
              <option value="Nein" selected="selected">Nein</option>
              <option value="keine Angabe">keine Angabe</option>
        </select>
        </div>
      </div>
      <div class="row">
        <label for="baujAwtanl" class="control-label col-sm-8">Baujahr</label>
        <div class="col-sm-4">
          <input type="number" class="form-control input4" id="baujAwtanl" size=4 maxlength=4 required [(ngModel)]="abw.baujAwtanl"
            name="baujAwtanl">
        </div>
      </div>
      <div class="row">
        <label for="gesUnters" class="control-label col-sm-8">gesetzl. geford. Erstüberprüfung</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" id="gesUnters" [(ngModel)]="abw.gesUnters" name="gesUnters">
        </div>
      </div>

      <div class="row">
        <label for="datum1Untersuchung" class="control-label col-sm-8">Erstuntersuchung</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" id="datum1Untersuchung" size=30 required [(ngModel)]="abw.datum1untersg" name="datum1Untersuchung">
        </div>
      </div>

      <div class="row">
        <label for="laengeNetz" class="control-label  col-sm-8">gesamte Netzlänge [m]</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="laengeNetz" size=30 required [(ngModel)]="abw.laengeNetz" name="laengeNetz">
        </div>
      </div>
      <div class="row">
        <label for="artAbw" class="control-label col-sm-8">Abwasserart</label>
        <div class="col-sm-4">
          <textarea class="form-control" id="artAbw" required [(ngModel)]="abw.artAbw" name="artAbw"></textarea>
        </div>
      </div>
      <div class="row">
        <label for="datumLetzteUnters" class="control-label  col-sm-8">letzte Untersuchung</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" id="datumLetzteUnters" size=30 required [(ngModel)]="abw.datumLetzteUnters" name="datumLetzteUnters">
        </div>
      </div>
      <div class="row">
        <label for="wsz" class="control-label  col-sm-8">WSZ</label>
        <div class="col-sm-4">
          <!--input type="text" class="form-control" id="wsz" size=6 required [(ngModel)]="abw.wsz" name="wsz"-->
          <select class="input-large form-control" id="wsz" required [(ngModel)]="abw.wsz" name="wsz">
              <option value="I" >I</option>
              <option value="II" >II</option>
              <option value="III A" >III A</option>
              <option value="III B" >III B</option>
              <option value="Nein" >Nein</option>
              <option value="Unbekannt" >Unbekannt</option>              
        </select>
        </div>
      </div>
      <div class="row">
        <label for="wassergefStoffe" class="control-label  col-sm-8"> wassergefährdende Stoffe</label>
        <div class="col-sm-4">
          <input type="checkbox" class="text-left" id="wassergefStoffe" required [(ngModel)]="abw.wassergefStoffe" name="wassergefStoffe">
        </div>
      </div>
      <div class="row">
        <label for="ueberprFristen" class="control-label  col-sm-8">Überprüfungsintervall [Jahre]</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="ueberprFristen" size=30 required [(ngModel)]="abw.ueberprFristen" name="ueberprFristen">
        </div>
      </div>
      <div class="row">
        <label for="einlArt" class="control-label  col-sm-8">Einleitungsart</label>
        <div class="col-sm-4">
          <textarea type="text" class="form-control" id="einlArt" size=6 required [(ngModel)]="abw.einlArt" name="einlArt"></textarea>
        </div>
      </div>
      <div class="row">
        <label for="gsb" class="control-label  col-sm-8"> Gewässerschutzbeauftr. erf.</label>
        <div class="col-sm-4">
          <input type="checkbox" class="text-left" id="gsb" required [(ngModel)]="abw.gsb" name="gsb">
        </div>
      </div>
      <div class="row">
        <label for="naechstesLak" class="control-label col-sm-8">nächstes LAK geplant [Jahr]</label>
        <div class="col-sm-4">
          <input type="number" class="form-control input4" id="naechstesLak" size=4 required [(ngModel)]="abw.naechstesLak" name="naechstesLak">
        </div>
      </div>
      <div class="row">
        <label for="naechsteUnters" class="control-label col-sm-8">nächste Untersuchung</label>
        <div class="col-sm-4">
          <input type="date" class="form-control" id="naechsteUnters" required [(ngModel)]="abw.naechsteUnters" name="naechsteUnters">
        </div>
      </div>
    </fieldset>
  </form>
</div>