<!--NAVBAR aus view-source:https://getbootstrap.com/examples/navbar/-->

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                <a class="navbar-left" href="#"><img src="logo_klein.png" alt="INKA Berichtswesen" style="height:50px"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a routerLink="/">Home</a></li>
                    <li class=""><a routerLink="/inka-we">Wirtschaftseinheit</a></li>
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wirtschaftseinheit <span class="caret"></span></a>
                        <ul class="dropdown-menu"  disabled>
                            <li><a routerLink="/inka-we-suche">Suchen</a></li>
                            <li><a routerLink="/inka-we" >Bearbeiten</a></li>
                            <li><a routerLink="/map" >Karte</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LAK <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/inka-lak-a">Teil A anlegen</a></li>
                            <li><a routerLink="/inka-lak-b">Teil B anlegen</a></li>
                            <li><a routerLink="/inka-lak-fkl">für kleine Liegenschaften anlegen</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
 -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/hilfe" >Hilfe</a></li>
                    <li><a routerLink="/login" >Logout</a></li> 
                    <!--li><a routerLink="/inka-admin" routerLinkActive="active">ADMIN</a></li--> 
              
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>


    <router-outlet>
    </router-outlet>
  </div>
<!--div id="map" class="map"></div-->

<!-- /container -->