<div class="row ">
  <div class="col-sm-4">
    <app-inka2-admin>
    </app-inka2-admin>
  </div>
  <div class="col-sm-8">
    <div>
      <h3>LAK Teil A</h3>
      <div class="enlarge " data-toggle="tooltip" title="speichern" (click)="update(model)" align="right"> <i class="fa fa-floppy-o fa-3x"> </i></div>

      <form class="form form-horizontal">
        <fieldset>
          <div class="row">
            <label for="projektNr" class="control-label col-sm-4">Projekt Nr.</label>
            <div class="col-sm-4">
              <input type="text" class="form-control  text-left" id="projektNr" required [(ngModel)]="model.projektNr" name="projektNr">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Projektname</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Auftraggeber</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Durchf. Stelle</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Kommentar durchführende Stelle</label>
            <div class="col-sm-8">
                <textarea cols="50" rows="3" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName"></textarea>
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Sachbearb. BdE (Fz)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Beauftragung</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Status</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Ing.-Büro</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Sofortmaßnahmen</label>
            <div class="col-sm-2">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Kommentar FfE</label>
            <div class="col-sm-8">
              <textarea cols="50" rows="3" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName"></textarea>
            </div>
          </div>

          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Inspektionskosten</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Reinigungskosten</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>
          <div class="row">
            <label for="projektName" class="control-label col-sm-4">Ingenieurkosten Teil A</label>
            <div class="col-sm-8">
              <input type="text" class="form-control  text-left" id="projektName" required [(ngModel)]="model.projektName" name="projektName">
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>