<div class="container-fluid" style="background-color:#d0d0d0">

  <table class="table table-striped table-hover" [mfData]="wes" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <!--th align="right">Id</th-->
      <th align="center"><mfDefaultSorter by="phase">Phase</mfDefaultSorter></th>
      <th align="center"><mfDefaultSorter by="bezeichnung">Projektname</mfDefaultSorter></th>
      <th align="center"><mfDefaultSorter by="projektNr">Projekt-Nr.</mfDefaultSorter></th>
      <th align="center"><mfDefaultSorter by="beginn">Beginn</mfDefaultSorter></th>
      <th align="center"><mfDefaultSorter by="ende">Ende</mfDefaultSorter></th>
      <th align="center"><mfDefaultSorter by="leiter">Projektleiter</mfDefaultSorter></th>
      <th align="center"><mfDefaultSorter by="kosten">Kosten</mfDefaultSorter></th>
      <th align="center"><mfDefaultSorter by="status">Status</mfDefaultSorter></th>
      <th class="pull-right"></th>

    </thead>
    <tbody>

      <tr *ngFor="let p of projekte" (mousedown)="onSelection(p)">
        <!--td align="center">{{user.id}}</td-->
        <td>{{p.phase}}</td>
        
        <td>
          <div class="pull-right">
            <!--a routerLink="/user/{{user.id}}" ><i class="fa fa-plus-circle fa-2x" style="color:green"> </i></a-->
            <a class="enlarge " data-toggle="tooltip" title="bearbeiten" (click)="update(user)"> <i class="fa fa-dot-circle-o fa-2x" style="color:orange"> </i></a>
            <a class="enlarge " data-toggle="tooltip" title="löschen" (click)="delete(user)"> <i class="fa fa-eraser fa-2x" style="color:#bb0000"> </i></a>
            <!--a class="enlarge " data-toggle="tooltip" title="bearbeiten" (click)="update(user)"> <span class="glyphicon glyphicon-pencil">&nbsp;</span></a>
          <a class="enlarge " data-toggle="tooltip" title="löschen" (click)="delete(user)"> <span class="">&nbsp;</span></a-->
          </div>
        </td>
        <!--td align="right"><button (click)="edit(user)">edit</button></td-->
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>