<div class="align-center">
  <h3 align="center">
         {{title}}
  </h3>
  <div class="row ">
    <div *ngIf="!collapse" class="form-group col-sm-4 collapse in" id="collapseBeispiel">
      <button class="btn btn-info align-baseline pull-right" type="button" (click)="toggleCollapse()"> <i class="glyphicon glyphicon-menu-left"></i></button>

      <app-inka2-admin>
      </app-inka2-admin>
      <!--app-map></app-map-->
    </div>

    <div *ngIf="!collapse" class="form-group col-sm-8">
      <app-inka2-abwasser>
      </app-inka2-abwasser>
    </div>
    <button *ngIf="collapse" class="btn btn-info align-baseline pull-left break" type="button" (click)="toggleCollapse()"> <i class="glyphicon glyphicon-tags"></i></button><br>
    <div *ngIf="collapse" [ngClass]="colSize()">
      <app-inka2-abwasser>
      </app-inka2-abwasser>
    </div>
  </div>
  <app-inka-lak-liste>
  </app-inka-lak-liste>
</div>